body{
    
    height: 100vh;
    width: 100%;
    /* align-items: center; */
    /* background-color: ; */
    font-family: "Montserrat", sans-serif;
    /* background: #fadbf0; */
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background:linear-gradient(to right,#f0e1f8,#f5d6eb) ;
    /* height: 10vh; */
}

.nav div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#searchByName{
    height: 50%;
    /* margin-top: 1.5rem; */
    margin-right: 1rem;
    margin-left: 1rem;
    background: white;
    border-radius: 1rem;
    border: none;
}

#searchByName:focus{
    outline: none;
    text-align: center;
}

.logo{
    width: 18%;
    padding: 1rem;
    /* text-align: center; */
}

h2{
    background: linear-gradient(#3e1c4f, #9e3c7e);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.col{
    background:linear-gradient(to right,#f0e1f8,#f5d6eb) ;
    margin: 0.2rem;
    text-align: center;
}

.heading>.col{
    background: linear-gradient(90deg, rgba(62,28,79,1) 29%, rgba(158,60,126,1) 100%);
    height: 2.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.heading>div{
    border-radius:0.5rem ;
}

.row{
    width: 100%;
}


/* loader */
#loader{
    z-index: 2;
    background: grey;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0,0,0,0.75);
}

#cupcake{
    flex-direction:row;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    -mos-flex-direction:row;
    -o-flex-direction:row;
    justify-content:center;
    -webkit-justify-content:center;
    -ms-justify-content:center;
    height:100vh;
    width:100%;
    background-color:transparent;

    }
    
    .letter{
        font-size:68px;
        color:rgb(196, 191, 191);
        font-family:tahoma;
    }
    
    .box{
        display: box;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }
    
    .cupcakeCircle, .cupcakeInner, .cupcakeCore{
         border-radius:50%;
        -webkit-border-radius:50%;
        -moz-border-radius:50%;
        -ms-border-radius:50%;
    }
    
    .cupcake, .letter, .cupcakeCircle, .cupcakeInner, .cupcakeCore{
        flex:none;
        -webkit-flex:none;
        -moz-flex:none;
        -ms-flex:none;
        -o-flex:none;
    }
    
    .letter, .cupcakeCircle{
        align-self:center;
        -webkit-align-self:center;
        -moz-align-self:center;
        -o-align-self:center;
        -ms-align-self:center;
    }
    .cupcakeCircle{
        align-items:center;
        -ms-align-items:center;
        justify-content:center;
        -ms-justify-content:center;
        height:100px;
        width:100px;
        background-color:#222;
    }
    
    .cupcakeInner{
        align-self:center;
        -ms-align-self:center;
        justify-content:center;
        -ms-justify-content:center;
        height:25%;
        width:25%;
        background-color:#9221fc;
        -webkit-animation-name:cupcakeAnimate;
        animation-name: cupcakeAnimate;
        -webkit-animation-duration:500ms;
        animation-duration: 500ms;
        -webkit-animation-direction:alternate;
        animation-direction: alternate;
        -webkit-animation-timing-function:ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-iteration-count:infinite;
        animation-iteration-count: infinite;
    }
    .cupcakeCore{
        align-self:center;
        -ms-align-self:center;
        height:25%;
        width:25%;
        background-color:#222;
        -webkit-animation-name:coreAnimate;
        animation-name:coreAnimate ;
        -webkit-animation-duration:1s;
        animation-duration: 1s;
        -webkit-animation-direction:alternate;
        animation-direction: alternate;
        -webkit-animation-timing-function:ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-iteration-count:infinite;
        animation-iteration-count: infinite;
    }
    
    @-webkit-keyframes cupcakeAnimate{
            to{ height:90%; width:90%; }
    }
    @keyframes cupcakeAnimate{
        to{ height:90%; width:90%; }
    }
    
    @-webkit-keyframes coreAnimate{
        to{ height:90%; width:90%; }
    }
    @keyframes coreAnimate{
        to{ height:90%; width:90%; }
    }